NODE_ENV=development
MONGO_URI=mongodb://abraam27:Messi2711@ac-m6qxcwh-shard-00-00.ecsj6yf.mongodb.net:27017,ac-m6qxcwh-shard-00-01.ecsj6yf.mongodb.net:27017,ac-m6qxcwh-shard-00-02.ecsj6yf.mongodb.net:27017/?ssl=true&replicaSet=atlas-8gjixs-shard-0&authSource=admin&appName=nestjs
DB_NAME=multivision-demo
PROFILE_API_KEY=some-value-develop
JWT_SECRET=q2QvXhhNwZf7R3uT9sxele8zJbljGjeh6tTQp7nkwyUdtaoWsl5SjF8zvKPNp1BR
JWT_TOKEN_AUDIENCE=localhost:8000
JWT_TOKEN_ISSUER=localhost:8000
JWT_TOKEN_TTL=120